# Configuration file

bannedblocks {
    B:"better_diving:limestone_outcrop-0"=false
    B:"dynamictrees:oakbranch-7"=false
    B:"dynamictrees:rootydirtspecies-0"=false
    B:"immersiveengineering:wooden_device0-0"=false
    B:"wearablebackpacks:backpack-0"=false
}


banneditems {
    B:"minecraft:air-0"=false
}


general {
    I:"Block 10 percent Regen Interval in ms"=1000
    B:"Block Regeneration Enabled"=true
    I:"Initial Block Regen Delay in ms"=5000

    # Tons of debug printing. Only enable if really needed.
    B:debugMode=false
}


